body{ 
  margin: 0; 
  overflow: hidden;
  font-family: sans-serif;
}
.container{ 
  display: flex; 
  height: 100vh; 
}
#visualization{ 
  width: 100%; 
}
.tooltip {
    position: absolute;
    z-index: 1000;
    max-width: 320px;
    word-break: break-all;
    display: none;
    background: #ddd;
    opacity: 0.85;
    padding: 10px;
}
.tooltip em{
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;
}